<template>
  <span 
    class="badge" 
    v-bind:class="{ 
      'badge--accent': state.color == 'accent',
      'badge--inverse': state.color == 'inverse',
    }"
  >
    <slot></slot>
  </span>
</template>

<script>
export default {
  data() {
    return {
      appState: this.$store.state,
      state: {}
    };
  },
  props: ["props"],
  created() {
    if (this.props) {
      this.state = this.props;
    }
  }
};
</script>

<style lang="scss">
@import "~global-css/vars";

.badge {
  display: inline-block;
  border-radius: 2px;
  padding: 0 6px;
  min-width: 45px;
  text-align: center;
  font-size: 1.4rem;

  &--accent {
    font-size: 1.2rem;
    @include theme_colors("secondary", "background-color", A200);
  }

  &--inverse {
    font-size: 1.2rem;
    @include theme_colors("primary", "background-color", 500);
  }
}
</style>