<template>
  <div class="color-picker">
    <a href="#" class="color-picker__swatch-toggle" v-on:click="toggleSwatches">
      <span
        class="color-picker__swatch color-picker__swatch--inline"
        v-if="which == 'primary'"
        v-bind:class="[
          'color-picker__swatch--' + appState.primaryColor
        ]"
      ></span>
      <span
        class="color-picker__swatch color-picker__swatch--inline"
        v-if="which == 'secondary'"
        v-bind:class="[
          'color-picker__swatch--' + appState.secondaryColor
        ]"
      ></span>

      <small>{{ which }} Color</small>
      <i class="material-icons" v-if="expanded">keyboard_arrow_up</i>
      <i class="material-icons" v-else>keyboard_arrow_down</i>
    </a>

    <div class="color-picker__swatches" v-show="expanded">
      <span
        class="color-picker__swatch"
        v-if="which == 'primary'"
        v-for="(color, index) in appState.colorChoices"
        :key="index"
        v-on:click="setPrimaryColor(color)"
        v-bind:title="color"
        v-bind:class="[
          'color-picker__swatch--' + color,
          {
            'color-picker__swatch--selected': color == appState.primaryColor
          }
        ]"
      ></span>
      <span
        class="color-picker__swatch"
        v-if="which == 'secondary'"
        v-for="(color, index) in appState.colorChoices"
        :key="index"
        v-on:click="setSecondaryColor(color)"
        v-bind:title="color"
        v-bind:class="[
          'color-picker__swatch--' + color,
          {
            'color-picker__swatch--selected': color == appState.secondaryColor
          }
        ]"
      ></span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      appState: this.$store.state,
      expanded: false
    };
  },
  props: ["which"],
  methods: {
    setPrimaryColor: function(color, e) {
      this.$store.commit("setPrimaryColor", color);
      this.$cookie.set("primaryColor", this.appState.primaryColor, 365);
    },
    setSecondaryColor: function(color, e) {
      this.$store.commit("setSecondaryColor", color);
      this.$cookie.set("secondaryColor", this.appState.secondaryColor, 365);
    },
    toggleSwatches: function(e) {
      e.preventDefault();
      this.expanded = !this.expanded;
    }
  }
};
</script>

<style lang="scss">
@import "~global-css/vars";

.color-picker {
  &__swatch-toggle {
    text-transform: capitalize;
    color: $primary-text-color !important;

    .dark-theme & {
      color: $dark-primary-text-color !important;
    }

    small {
      margin-left: 6px;
    }

    i {
      margin-top: 2px;
      float: right;
    }
  }

  &__swatches {
    display: flex;
    flex-wrap: wrap;
    margin: 0 9px 10px;
  }

  &__swatch {
    display: inline-block;
    border-radius: 50%;
    margin: 3px;
    flex: 0 0 35px;
    height: 35px;
    @include box_shadow(1);
    cursor: pointer;
    transition: transform 0.2s ease-out;
    transform: scale(0.8);

    &:hover {
      transform: scale(1);
    }

    &--selected {
      transform: scale(1.2);

      &:hover {
        transform: scale(1.2);
      }
    }

    &--inline {
      width: 24px;
      height: 24px;
      padding: 0;
      transform: none;
      vertical-align: middle;
      margin: 0;
      margin-top: 1px;
      transition: background-color 0.2s ease-out;
    }

    @each $color in $colors {
      $colorString: color-string($color);

      &--#{$colorString} {
        background-color: palette($color, 500);
      }
    }
  }
}
</style>
