@import "vars";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}

@media #{$tablet-breakpoint} {
  .body--no-scroll {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in;
  border-bottom: 1px solid transparent;
  @include theme_colors("primary", "color", A700);

  &:hover {
    @include theme_colors("primary", "border-color", A700);
  }

  .dark-theme & {
    @include theme_colors("primary", "color", A100);

    &:hover {
      @include theme_colors("primary", "border-color", A100);
    }
  }
}

p {
  margin: 15px 0;
  max-width: 550px;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: $divider-color;

  .dark-theme & {
    background: $dark-divider-color;
  }
}
