<template>
    <section>
        <h1>Page Not Found</h1>
        <p>Sorry, we couldn't find the page you were looking for despite our best efforts.</p>
        <img src="~img/404.jpg">
    </section>
</template>