<template>
  <section>

    <div class="bingo-card">
      <div 
        class="bingo-card__item"
        v-for="(square, index) in this.state.squares" 
        :key="index"
        v-on:click="toggleSquare(index)"
        v-bind:class="{ 'bingo-card__item--checked': square.checked }">
          <div class="bingo-card__item-text">
            {{ square.text }}
            <img class="bingo-card__item-img" v-if="square.img" v-bind:src="square.img">
          </div>
      </div>
    </div>

    <div class="bingo-buttons">
      <button class="btn btn--inverse" v-on:click="shuffle()">Reset Card</button>
    </div>

    <div class="bingo-winner" v-if="this.state.winner">
        <img class="bingo-winner__shamrock" src="~img/shamrock.png" width="46">
        <span class="bingo-winner__bingo">BINGO!!!</span>
        <img class="bingo-winner__mug" src="~img/beer-mug.png" height="28">
    </div>
    
  </section>
</template>

<script>
export default {
  data() {
    return {
      appState: this.$store.state,
      state: {
        winner: false,
        winningCombos: [
          {
            indexes: [0, 5, 10, 15, 20]
          },
          {
            indexes: [1, 6, 11, 16, 21]
          },
          {
            indexes: [2, 7, 12, 17, 22]
          },
          {
            indexes: [3, 8, 13, 18, 23]
          },
          {
            indexes: [4, 9, 14, 19, 24]
          },
          {
            indexes: [0, 1, 2, 3, 4]
          },
          {
            indexes: [5, 6, 7, 8, 9]
          },
          {
            indexes: [10, 11, 12, 13, 14]
          },
          {
            indexes: [15, 16, 17, 18, 19]
          },
          {
            indexes: [20, 21, 22, 23, 24]
          },
          {
            indexes: [0, 6, 12, 18, 24]
          },
          {
            indexes: [4, 8, 12, 16, 20]
          }
        ],
        options: [
          {
            text: "Crying girl"
          },
          {
            text: "Sound of breaking glass"
          },
          {
            text: "Fighting couple"
          },
          {
            text: "Stumbling person"
          },
          {
            text: "'Woo' girls"
          },
          {
            text: "Shivering girl who didn’t wear a jacket"
          },
          {
            text: "Someone with puke on their clothes"
          },
          {
            text: "Police officer"
          },
          {
            text: "Person who slaps a moving car"
          },
          {
            text: "Someone drinking out of a Big Gulp cup"
          },
          {
            text: "Group taking selfies by the river"
          },
          {
            text: "Guy who yells 'BRO'"
          },
          {
            text: "Random sober people with kids"
          },
          {
            text: "People walking in the middle of the street"
          },
          {
            text: "Guy in a kilt"
          },
          {
            text: "20 somethings drinking with their parents"
          },
          {
            text: "Person drinking on the sidewalk"
          },
          {
            text: "Lost person looking for 'L' or Metra stop"
          },
          {
            text: "St. Patrick's Day crap street vendor"
          },
          {
            text: "Obvious tourist in Chicago gear"
          },
          {
            text: "Someone getting into the wrong rideshare"
          },
          {
            text: "Someone who can't stand up without help"
          },
          {
            text: "Drunk kid who’s obviously underage"
          },
          {
            text: "Desperate person trying to find a bathroom"
          }
        ],
        squares: []
      }
    };
  },
  created: function() {
    this.init();
  },
  methods: {
    init: function() {
      let savedSquares = JSON.parse(localStorage.getItem("squares"));
      if (savedSquares) {
        this.state.squares = savedSquares;
      } else {
        this.shuffle();
      }
    },
    shuffle: function() {
      let newArray = this.state.options.slice(0);
      newArray.forEach(function(square) {
        square.checked = false;
      });
      this.randomizeArray(newArray);
      newArray.splice(12, 0, {
        img: "shamrock.png",
        checked: true
      });
      this.state.squares = newArray;
      this.save();
      this.state.winner = false;
    },
    toggleSquare: function(index) {
      let newObj = this.state.squares[index];
      newObj.checked = newObj.checked ? false : true;
      this.state.squares.splice(index, 1, newObj);
      this.save();
      this.checkForWin();
    },
    save: function() {
      localStorage.setItem("squares", JSON.stringify(this.state.squares));
    },
    checkForWin: function() {
      let self = this;

      self.state.winner = false;

      this.state.winningCombos.forEach(function(item, i) {
        let count = 0;

        item.indexes.forEach(function(position, j) {
          if (self.state.squares[position].checked) {
            count++;
          }
        });

        if (count == 5) {
          self.state.winner = true;
          return false;
        }
      });
    },
    randomizeArray: function(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }
  }
};
</script>

<style lang="scss">
@import "~global-css/vars";

.bingo-card {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-gap: 1px;

  @media #{$mobile-breakpoint} {
    &__item-text {
      font-size: 1.2rem;
      line-height: 150%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-shadow: 0 0 0 1px #666;
    text-align: center;
    cursor: pointer;
    min-height: 80px;

    &--checked {
      // background: lightgreen;
      @include theme_colors("secondary", "background-color", 500);
    }
  }

  &__item-img {
    width: 46px;
    display: block;
  }
}

.bingo-buttons {
  margin-top: 50px;
  text-align: center;
}

.bingo-winner {
  &__shamrock {
    position: fixed;
    top: 25%;
    left: 35%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 100;
    animation: winner-img 2s infinite linear;
  }

  &__mug {
    position: fixed;
    top: 75%;
    left: 65%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 100;
    animation: winner-img 2s infinite linear;
    animation-delay: -1s;
  }

  &__bingo {
    display: block;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 0%;
    right: 0;
    font-size: 8rem;
    animation: pulse 1s infinite linear;
  }
}

@keyframes winner-img {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(1) rotate(0deg);
  }
  50% {
    transform: translate3d(-50%, -50%, 0) scale(5) rotate(360deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scale(1) rotate(720deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
</style>
